<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Show</h1>
        <form action="/<%-show.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=show.name%>"/><br/>
            Location: <input type="text" name="location" value="<%=show.location%>"/><br/>
            Time: <input type="text" name="time" value="<%=show.time%>"/><br/>
            Price: <input type="number" name="price" value="<%=show.price%>"/><br/>
            Description: <input type="text" name="description" value="<%=show.description%>"/><br/>
            Image Link: <input type="text" name="image" value="<%=show.image%>"/><br/>
            <input type="submit" value="Submit Changes"/>
        </form>
    </body>
</html>
