<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>GoToShow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div class="container">
            <h1>GoTo&#8594;Show</h1>

            <ul>
                <% if (currentUser) { %>
                    <h4>Welcome, <%= currentUser.username %>!</h4>
                    <li>
                        <form action="/sessions?_method=DELETE" method="POST">
                            <input type="submit" value="Log Out" />
                        </form>
                    </li>
                <% } else { %>
                    <a href="/users/new"><button type="submit">Sign Up</button></a>
                    <a href="/sessions/new"><button type="submit">Log In</button></a>
                <% } %>
                <br/>
                <a href="/shows/new"><button type="submit">Add a Show</button></a>
                <!-- display newest show first -->
                <%shows.reverse()%>
                <!-- loop to display show info on index -->
                <% for (let i = 0; i < shows.length; i++){ %>
                    <div class="home-show">
                        <a href="/shows/<%=shows[i].id%>"><img class="home-img" src='<%=shows[i].image%>'></a>
                        <h4><a href="/shows/<%=shows[i].id%>">
                            <%=shows[i].name%>
                        </a></h4>
                        <%=shows[i].location%>
                        <%=shows[i].date%>
                        $<%=shows[i].price%>
                    </div>
                 <% } %>
            </ul>
        </div>
    </body>
</html>
