<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>GoToShow</h1>
        <a href="/new"><button type="submit">Add a Show</button></a>
        <ul>
            <!-- display newest show first -->
            <%shows.reverse()%>
            <!-- loop to display show info on index -->
            <% for (let i = 0; i < shows.length; i++){ %>
                <li>
                    <img src='<%=shows[i].image%>'>
                    <%=shows[i].name%>
                    <%=shows[i].location%>
                    <%=shows[i].time%>
                    $<%=shows[i].price%>
                    <%=shows[i].description%>
                </li>
             <% } %>
        </ul>
    </body>
</html>
