<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <img src='<%=show.image%>'>
        <h1><%=show.name%></h1>
        <%=show.location%>
        <%=show.time%>
        $<%=show.price%>
        <%=show.description%>
        <a href="/"><button type="submit">Back to Home</button></a>
    </body>
</html>
