<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>View Show</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <div class="container">
            <h1>GoTo&#8594;Show</h1>
            <div class="home-show">

            <img class="home-img" src='<%=show.image%>'>
            <h2><%=show.name%></h2>
            <%=show.location%>
            <%=show.date%>
            <%=show.time%>
            $<%=show.price%>
            <%=show.description%>
            </div>
            <a href="/shows/<%=show.id%>/edit"><button type="submit">Edit</button></a>
            <form action="/shows/<%=show._id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete"/>
            </form>
            <a href="/shows"><button type="submit">Back to Home</button></a>
        </div>
    </body>
</html>
